#loginWrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $imperialRed;
}

#loginBox{
    width: 30em;
    height: 30em;
    background-color: $aliceBlue;
    border-radius: 5px;
    box-shadow: 5px 5px 5px $spaceCadet;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.-loginBox{
    margin: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}
.-loginBox > label {
    margin: 5px;
}

#loginBtn{
    padding: 3px;
    width: 75px;
}

.title{
    font-family: 'blox';
    font-size: 5em;
    position: absolute;
    top: 2em;
    margin: 0 auto;
}