#loginWrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginBox{
    width: 60%;
    height: 60%;
    background-color: gray;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
    margin: 0 auto;



}
