#msgContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
}

#backgroundContainer{
    width:60%;
    height: 100%;
    background: $aliceBlue;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-end;
}

#messageArea{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.messageInput{
    position: absolute;
    border: 50px;
    border-radius: 50px;
    width:300px;
    height: 250px;
    padding: 2px;
    top: 30%;
    left: auto;
    right: auto;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
    background: rgba(187, 187, 187, 0.6);
}

#sideBar{
    position: absolute;
    right: 100px;
    margin: 5px;
}

#inputArea{
    max-height: 180px;
    max-width: 200px;
    min-height: 180px;
    min-width: 200px;
    margin-bottom: 5px;
}

#sendMsg{
    margin-right: 5px;
}
@media (max-width:420px) {
    #backgroundContainer{
        width: 75%;
    }

    #sideBar{
        right: 0;
    }
}